<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="João Paulo Siqueira">
        <title>Usuários</title>
        <link rel="shortcut icon" href="../../resources/images/favicon.ico" th:href="@{'/resources/images/favicon.ico'}" />
        <link type="text/css" rel="stylesheet" href="../../../resources/css/bootstrap.min.css" th:href="@{'/resources/css/bootstrap.min.css'}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Usuários</h3>
                        </div>
                        <div class="panel-body">
                            <a href="#" class="btn btn-default btn-sm" th:href="@{/system/user/add}" sec:authorize="hasAnyRole('ROLE_SYSTEM_USER_ADD')" th:text="'Adicionar Usuário'">Adicionar Usuário</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-Mail</th>
                                        <th>Ativo</th>
                                        <th>Trancado</th>
                                        <th>Expiração da Conta</th>
                                        <th>Expiração da Credencial</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${#lists.isEmpty(page.content)}">
                                        <td colspan="7">Nenhum Usuário Encontrado.</td>
                                    </tr>
                                    <tr th:unless="${#lists.isEmpty(page.content)}" th:each="user : ${page.content}">
                                        <td th:text="${user.firstName + ' ' + user.lastName}">João Paulo Siqueira</td>
                                        <td th:text="${user.email}">joaopaulo1094@gmail.com</td>
                                        <td th:text="${user.enabled}?'Sim':'Não'">Sim</td>
                                        <td th:text="${user.locked}?'Sim':'Não'">Não</td>
                                        <td th:text="${user.accountCanExpire}?'Sim':'Não'">Não</td>
                                        <td th:text="${user.credentialCanExpire}?'Sim':'Não'">Não</td>
                                        <td>
                                            <a class="btn btn-xs btn-default" href="#" th:href="@{'/system/user/show/'+${user.id}}" th:text="'Mostrar'">Mostrar</a>
                                            <a class="btn btn-xs btn-default" href="#" th:href="@{'/system/user/edit/'+${user.id}}" th:text="'Alterar'">Alterar</a>
                                            <a class="btn btn-xs btn-default" href="#" th:href="@{'/system/user/delete/'+${user.id}}" th:text="'Deletar'">Deletar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav th:replace="fragments/pagination :: pagination"></nav>
        <script type="text/javascript" src="../../../resources/js/jquery-3.1.1.min.js" th:src="@{'/resources/js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" src="../../../resources/js/bootstrap.min.js" th:src="@{'/resources/js/bootstrap.min.js'}"></script>
    </body>
</html>