<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="João Paulo Siqueira">
        <title>Alterar Dados da Pessoa</title>
        <link rel="shortcut icon" href="../../resources/images/favicon2.ico" th:href="@{'/resources/images/favicon2.ico'}" />
        <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css" th:href="@{'/resources/css/bootstrap.min.css'}"/>
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Alterar Dados da Pessoa</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="#" method="POST" th:action="@{'/pessoa/salvar'}" th:method="POST" th:object="${pessoa}">
                                <input hidden="hidden" type="number" th:value="*{id}" th:field="*{id}" />
                                <div class="form-group">
                                    <label class="col-sm-2 col-xs-3 control-label" for="inputNome" th:text="'Nome'">Nome</label>
                                    <div class="col-sm-10 col-xs-9">
                                        <input class="form-control" id="inputNome" type="text" th:value="*{nome}" th:field="*{nome}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-xs-3 control-label" for="inputNascimento" th:text="'Data de Nascimento'">Data de Nascimento</label>
                                    <div class="col-sm-10 col-xs-9">
                                        <input class="form-control" id="inputNascimento" type="date" th:value="*{nascimento}" th:field="*{nascimento}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3">
                                        <button class="btn btn-sm btn-default" type="submit" value="submit">Salvar</button>
                                        <a class="btn btn-sm btn-default" href="#" th:href="@{'/pessoa'}" th:text="'Cancelar'">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../../resources/js/jquery-3.1.1.min.js" th:src="@{'/resources/js/jquery-3.1.1.min.js'}"></script>
        <script type="text/javascript" src="../../resources/js/bootstrap.min.js" th:src="@{'/resources/js/bootstrap.min.js'}"></script>
    </body>
</html>